body {
  background-color: #ffffff;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
}

fieldset {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
